
### Backend ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.gradle/
logs/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

### Others ###
log/
logs/
.kotlin/

# Config files
*.yml
*.yaml
!docker-compose.yml
!deploy.yml
!test.yml
!application.yml
!application-prod.yml
!application-test.yml
.env*


### Frontend ###

# dependencies
node_modules/
.pnp/
.pnp.*

# testing
coverage/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
!.env.development
!.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
