networks:
  public:
  app:
    internal: true
  data:
    internal: true

services:
  backend:
    image: ghcr.io/decmoe47/todo-backend:latest
    container_name: backend
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      DB_URL: jdbc:mysql://db:3306/todo?useSSL=false&serverTimezone=Asia/Tokyo
      DB_USERNAME: todo
      DB_PASSWORD: ${DB_PASSWORD}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_DATABASE: 0
      MAIL_FROM: ${MAIL_FROM}
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      MAIL_PROTOCOL: smtp
      SECURITY_SECRET_KEY: ${SECURITY_SECRET_KEY}
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
    restart: unless-stopped
    depends_on: 
      - db
      - redis
    networks: 
      - app
      - data

  frontend:
    image: ghcr.io/decmoe47/todo-frontend:latest
    container_name: frontend
    ports:
      - "80:80"
    restart: unless-stopped
    networks: 
      - public
      - app

  db:
    image: mysql:8.4
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: todo
      MYSQL_USER: todo
      MYSQL_PASSWORD: ${DB_PASSWORD}
      TZ: Asia/Tokyo
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_0900_ai_ci
    restart: unless-stopped
    networks: 
      - data

  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]  # 开启AOF持久化
    restart: unless-stopped
    networks: 
      - data

volumes:
  mysql_data:
  redis_data: